          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/pompe/snippet/<%= '27' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> GASEOSAS/CERVEZAS/FR  ____bebidas_____27be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
