    <section class="pricing py-5">                                                                                              
      <div class="container bg-danger">                                                                                         
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA           </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CAFE . . . . . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON CREMA . . . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE . . . . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE CON CREMA . .  $175</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON LECHE . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE C/3 MEDIALUN $240</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO . . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO A LA ITALIANA . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>SUBMARINO . . . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE CHOCOLATADA . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE FRIA/CALIENTE . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICANO . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>TE DE HIERBAS . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>TE DE HIERBAS C/LECHE . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>TE DIGESTIVO . . . . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>YOGUR . . . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE URUGUAYO . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>TE DE HIERBAS C/3 MEDIALU $250</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE ITALIANA . . . . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>PANERA . . . . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE INVITACION . . . . . $454</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">LOS DULCES          </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MINI FRUTILLA . . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI LEMON . . . . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>FACTURAS DOCENA . . . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIA DOCENA FACTURA P/LL $190</li>                          
                <li class="text-center"><span class="fa-li"></span>MASAS SECAS (KILO) . . . $1350</li>                          
                <li class="text-center"><span class="fa-li"></span>MASAS SECAS 1/2 KILO . .  $625</li>                          
                <li class="text-center"><span class="fa-li"></span>MASAS SECAS 1/4 KILO . .  $312</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS/FACTURAS . . .  $50</li>                          
                <li class="text-center"><span class="fa-li"></span>PAN X KG . . . . . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CREMONA/ TRENCITAS X KG . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>MASAS SECAS (2) . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADAS . . . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>ALFAJORES VARIOS . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI SACH/CHEESE / MOUSSE $265</li>                          
                <li class="text-center"><span class="fa-li"></span>DULCE/MANTECA/MERMELADA . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>PAN DULCE . . . . . . . .$1100</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI PAN DULCE . . . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2 DOCENAS DE FACTUR $610</li>                          
                <li class="text-center"><span class="fa-li"></span>BIZCOCHUELO . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTELETA /CUADRADITO . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOTORTA . . . . . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>TIRAMISU . . . . . . . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI FROLA . . . . . . .  $175</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTA FROLA EFECTIVO . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI ROGEL . . . . . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI RICOTA . . . . . . . $185</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI BALCARSE/ AFRICANA . $200</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA ESPECIAL  </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CAFE .DEL DIA . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN DULCE . . . . . . . $185</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN ESPECIAL DULCE . .  $185</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">PARA DISFRUTAR      </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PASTA FROLA . . . . . . . $470</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTA DE RICOTA . . . . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTA DE COCO . . . . . . $610</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTA DE MANZANA . . . .  $580</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTA FRUTILLA . . . . .  $680</li>                          
                <li class="text-center"><span class="fa-li"></span>LEMON PIE . . . . . . . . $680</li>                          
                <li class="text-center"><span class="fa-li"></span>MOUSSE VARIOS . . . . . .$1050</li>                          
                <li class="text-center"><span class="fa-li"></span>SACHER . . . . . . . . . $1050</li>                          
                <li class="text-center"><span class="fa-li"></span>PALMERITAS .KG . . . . .  $385</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI MANZANA . . . . . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>MERENGUES . . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>TART PORC.FROLA . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI SELVA NEGRA . . . .  $265</li>                          
                <li class="text-center"><span class="fa-li"></span>BROWNIE . . . . . . . . . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>SELVA NEGRA . . . . . . .$1050</li>                          
                <li class="text-center"><span class="fa-li"></span>SABORIZADOS POR KILO . .  $300</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">DESAYUNOS           </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>DESAYUNO CLASICO . . . .  $305</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE ITA . . . . . . . .  $150</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pompe/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
