    <section class="pricing py-5">                                                                                              
      <div class="container bg-warning">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDWICH ESPECIAL   </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>DE SALAME . . . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL DE QUESO . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL DE COCIDO . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL COCIDO Y QUESO . $185</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL CRUDO . . . . .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL CRUDO Y QUESO .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>DE MATAMBRE CASERO . . .  $240</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">TRAVIATA / CROISANT </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LUNA C/J.COC O QUESO . .   $85</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUN JAM QUE X2 . . . $185</li>                          
                <li class="text-center"><span class="fa-li"></span>DOS LUNAS J.CRUDO . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>DOS LUNAS CRUDO Y QUESO . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNA JQ TOST . . . . $100</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">TOSTADO ESPECIAL    </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TOSTADO COCIDO Y QUESO .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>TOST. MIGA CRUDO Y QUESO  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADO CRUDO Y QUESO . . $250</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDW. MIGA         </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SAND MIGA QUESO . . . . . $175</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND MIGA SALAME . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>MIGA CRUDO . . . . . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>MIGA COCIDO Y QUESO . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>MIGA CRUDO Y QUESO . . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO TOSTADO . . . . .  $80</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">TABLAS / PICADAS    </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TABLA MIXTA . . . . . . .$2200</li>                          
                <li class="text-center"><span class="fa-li"></span>TABLA DE QUESOS . . . . .$1950</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 PICADA POMPEII . . .  $825</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPER PICADA POMPEII . . $1270</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">CARNE TERNERA       </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>BIFE DE CHORIZO C/GUARNIC $630</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE DE LOMO C/ GUARNI .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>ALBONGIGAS .PORTUGUESA .  $290</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA DE TERNERA C/ GU $365</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA NAPOLITANA C/ GU $485</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDALLON LOMO SABORIZADO  $870</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI BIFE C/ GUARNI . . . $540</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA BACON GR . . . $1465</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA BACON CH . . .  $940</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA BACON IND . . . $495</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA FIORENT GR . . $1410</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA FIORENT CH . .  $925</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA FUGA IND . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA FUGA CH. . . .  $795</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA NAPO IND. . . . $440</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA NAPO CH . . . . $840</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA NAPO. GR . . . $1280</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA FUGAZZETA GR . $1290</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE DE CHORIZO POMPEII . $950</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA MUZZA IND . . . $415</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA FIORENT IND . . $475</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA MUZZARELLA GR .$1250</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA MUZZA CH . . .  $765</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA PRIMAVERA GR . $1465</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA PRIMAV CH . . . $940</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA PRIMAV IND . .  $495</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA CALABRESA IND . $475</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA CALABRESA CH .  $925</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA CALABRESA GR . $1410</li>                          
                <li class="text-center"><span class="fa-li"></span>TAPA RELLENA . . . . . .  $310</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">AVES                </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>POLLO ENT C/ FRIT AL HORN $550</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 POLLO GRILLE C/ GUARN $340</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 POLLO SABORIZADO . .  $560</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA DE POLLO C/ GUARN $340</li>                          
                <li class="text-center"><span class="fa-li"></span>RISOTTO DE VEGETALES . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA NAPOLITANA C/ GUA $460</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET DE MERLUZA LIGHT .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA SABORIZADA . . .  $610</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PESCADO             </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FILET DE MERLUZA C/ GUARN $385</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENSALADAS ESPECIALES</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SALAD BAR . . . . . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>AGRE POLLO JAM QUESO . .   $95</li>                          
                <li class="text-center"><span class="fa-li"></span>AGRE PALM ATUN KANIKAMA .  $95</li>                          
                <li class="text-center"><span class="fa-li"></span>AGRE .ROQUEF CRUDO . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA CESAR . . . . .  $365</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA POMPEII . . . .  $385</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PARA ACOMPAÑAR      </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PURE DE PAPA .PORCION . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ C/ CALAMARES . . .  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS FRITAS PORCION . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS REJILL/NOIS/PAI POR $160</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS FRITAS .GUARNICION  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>HUEVOS FRITOS O DURO POR.  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PURE CALABAZA O MIXTO POR $180</li>                          
                <li class="text-center"><span class="fa-li"></span>REC PROVENZAL . . . . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS REJ/NOIS/PAI .GUARN $140</li>                          
                <li class="text-center"><span class="fa-li"></span>PURE DE PAPA GUARNICION.  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>PURE CALABAZA O MIXTO GUA $140</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDALLON DE ESPINACA . .  $275</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">OMELETTE / TORTILLA </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>OMELETTE QUESO . . . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTE JAMON Y QUESO .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTE ESPECIAL . . . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>REVUELTO GRAMAJO . . . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA SIMPLE . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA ESPECIAL . . . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTE CHAMPIG SUG . .  $200</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDWICHES          </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SAND DE MILA SOLA . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND MILA CLASICO . . . . $310</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND MILA COMPLETO . . .  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>HAMBURGUESA SOLO . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>HAMBURGUESA CLASICO . . . $290</li>                          
                <li class="text-center"><span class="fa-li"></span>PANCHO . . . . . . . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>HAMBURGUESA COMPLETO . .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMITO SOLO . . . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMITO CLASICO . . . . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMITO COMPLETO . . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>HAMBURGUESA LUIS . . . .  $480</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PASTAS              </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PROMO PASTA . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>TALLARINES AL HUEVO . . . $165</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES DE VERDUR/AVE .  $205</li>                          
                <li class="text-center"><span class="fa-li"></span>NOQUIS PURE PAPA . . . .  $165</li>                          
                <li class="text-center"><span class="fa-li"></span>CANELONES ESPIN/POLLO/JAM $205</li>                          
                <li class="text-center"><span class="fa-li"></span>SORRENTINOS DE RICOTA . . $205</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PARA SOBORIZAR      </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>OLIVA O MANTECA . . . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PUTANESCA . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>ROSE . . . . . . . . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>FILETO . . . . . . . . .   $95</li>                          
                <li class="text-center"><span class="fa-li"></span>BOLOGNESA . . . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>CARUSO . . . . . . . . .  $155</li>                          
                <li class="text-center"><span class="fa-li"></span>SCARPARO . . . . . . . .  $145</li>                          
                <li class="text-center"><span class="fa-li"></span>CARBONARA . . . . . . . . $165</li>                          
                <li class="text-center"><span class="fa-li"></span>PESTO . . . . . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA CREMA . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>PARISIEN . . . . . . . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>QUATRO FORMAGGIO . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>ESTOFADO . . . . . . . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA BLANCA . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA MIXTA . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>LASAGNA RELLENA . . . . . $270</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">AGREGADOS SANDWICH  </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>RECGO LECH TOM PEPINO . .  $50</li>                          
                <li class="text-center"><span class="fa-li"></span>RECGO COCID QUESO HUEVO .  $50</li>                          
                <li class="text-center"><span class="fa-li"></span>RECGO ANAN MORR ESPERRAGO  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>RERGO PAV ATU PALM CRUDO  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>AGR./JAM. CRUD/PALMITOS .  $95</li>                          
                <li class="text-center"><span class="fa-li"></span>AGR.ATUN/PALMITOS . . . .  $90</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">EMPANADAS           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>EMPANADAS VARIAS . . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>FAINA . . . . . . . . . .  $45</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZAS              </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MOZZARELLA GR. . . . . .  $460</li>                          
                <li class="text-center"><span class="fa-li"></span>MARGARITA GR. . . . . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>ANCHOAS GR. . . . . . . . $440</li>                          
                <li class="text-center"><span class="fa-li"></span>ROMANA GR. . . . . . . .  $560</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA C/ JAMON GR. . .  $560</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA CON QUESO GR. . . $530</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPOLITANA GR. . . . . .  $530</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPOLITANA ESPECIAL GR. . $560</li>                          
                <li class="text-center"><span class="fa-li"></span>DE JAMON .GR. . . . . . . $540</li>                          
                <li class="text-center"><span class="fa-li"></span>MOZZARELLA CH. . . . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>MARGARITA CH. . . . . . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>ANCHOAS CH. . . . . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>ROMANA CH. . . . . . . .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA C/ JAMON CH. . .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA CON QUESO CH. . . $410</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPOLITANA CH. . . . . .  $410</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPOLITANA ESPECIAL CH. . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>DE JAMON .CH. . . . . . . $410</li>                          
                <li class="text-center"><span class="fa-li"></span>18 EMP + GASEOSA . . . .  $990</li>                          
                <li class="text-center"><span class="fa-li"></span>MOZZARELLA IND. . . . . . $145</li>                          
                <li class="text-center"><span class="fa-li"></span>MARGARITA IND. . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>ANCHOAS IND. . . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>ROMANA IND. . . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA C/ JAMON IND. . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA CON QUESO IND. .  $165</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPOLITANA IND. . . . . . $165</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPOLITANA ESPECIAL IND.  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>DE JAMON .IND. . . . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CON MORRONES GR. .  $630</li>                          
                <li class="text-center"><span class="fa-li"></span>ROQUEFORT GR. . . . . . . $680</li>                          
                <li class="text-center"><span class="fa-li"></span>PROVOLONE GR. . . . . . . $730</li>                          
                <li class="text-center"><span class="fa-li"></span>PALMITOS GR. . . . . . .  $785</li>                          
                <li class="text-center"><span class="fa-li"></span>CALABRESA GR. . . . . . . $680</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPINACAS GR. . . . . . . $460</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL DE 4 QUESOS GR.  $785</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMAICA GR. . . . . . . . $630</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CON MORRONES CH. .  $475</li>                          
                <li class="text-center"><span class="fa-li"></span>ROQUEFORT CH. . . . . . . $525</li>                          
                <li class="text-center"><span class="fa-li"></span>PROVOLONE CH. . . . . . . $560</li>                          
                <li class="text-center"><span class="fa-li"></span>PALMITOS CH. . . . . . .  $590</li>                          
                <li class="text-center"><span class="fa-li"></span>CALABRESA CH. . . . . . . $525</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPINACAS CH. . . . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL DE 4 QUESOS CH.  $590</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMAICA CH. . . . . . . . $475</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CON MORRONES IND. . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>ROQUEFORT IND. . . . . .  $215</li>                          
                <li class="text-center"><span class="fa-li"></span>PROVOLONE IND. . . . . .  $225</li>                          
                <li class="text-center"><span class="fa-li"></span>PALMITOS IND. . . . . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>CALABRESA IND. . . . . .  $215</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPINACAS IND. . . . . .  $145</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL DE 4 QUESOS .IND $240</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMAICA IND. . . . . . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE TRADICIONAL GR. . $610</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE TRADICIONAL CH. . $460</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE LIGHT GR . . . .  $670</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE LIGHT CH . . . .  $510</li>                          
                <li class="text-center"><span class="fa-li"></span>24 EMP + GASEOSA . . . . $1230</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 3 PIZZA+GASEOSA . .$1510</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZETTA RELL GR . . .  $560</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZETTA RELL CH . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL RELL GR . . . .  $610</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL RELL CH . . . .  $460</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPER ESP. RELL CH . . .  $485</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPER ESP. RELL GR . . .  $645</li>                          
                <li class="text-center"><span class="fa-li"></span>PAN DE PIZZA CH. . . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>PAN DE PIZZA GR. . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2 PORCIONES . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION DE MUZZA . . . .   $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION DE FUGAZETTA . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>DOC DE EMP + GASEOSA . .  $725</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2 DOC EMPANADA . . $1310</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 3 DOC EMPANADA . . $1900</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2 PIZZA + GASEOSA .$1510</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 1 PIZZA . . . . . .$1350</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 1 PIZZA+ GASEOSA . $1480</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2MONDONGOS +P.PERED $670</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 4 //1 DOC . . . . . $585</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 4 / 1 DOC + GASEOSA $840</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 4// 18 EMP . . . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 4// 18EMP + GASEOSA$1180</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 4//24 EMP . . . . .$1090</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 4// 30 EMP + GASEOS$1720</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2 PIZZA . . . . . .$1380</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 1 PIZZERIA + GASEOS$1340</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 3PIZZERIA . . . . .$1250</li>                          
                <li class="text-center"><span class="fa-li"></span>MUZARELLA GDE PROMO . . . $620</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pompe/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
