    <section class="pricing py-5">                                                                                              
      <div class="container bg-danger">                                                                                         
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA           </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CAFE . . . . . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON CREMA . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE . . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE CON CREMA . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON LECHE . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE C/3 MEDIALUN $170</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO . . . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO A LA ITALIANA . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>SUBMARINO . . . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE CHOCOLATADA . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE FRIA/CALIENTE . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICANO . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>TE DE HIERBAS . . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>TE DE HIERBAS C/LECHE . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>TE DIGESTIVO . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>YOGUR . . . . . . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE URUGUAYO . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>TE DE HIERBAS C/3 MEDIALU $180</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE ITALIANA . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOLATE C/ CHURROS . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE URU MUFFINS . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>SUP. MERIENDA 1 TX . . .  $830</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">LOS DULCES          </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MINI FRUTILLA . . . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI LEMON . . . . . . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS/FACTURAS . . .  $40</li>                          
                <li class="text-center"><span class="fa-li"></span>MASAS SECAS (2) . . . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADAS . . . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>ALFAJORES VARIOS . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI SACH/CHEESE / MOUSSE $240</li>                          
                <li class="text-center"><span class="fa-li"></span>DULCE/MANTECA/MERMELADA . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>MUFFINS . . . . . . . . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>CHEESE CAKE . . . . . . . $950</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOTORTA MINI . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2 DOCENAS DE FACTUR $510</li>                          
                <li class="text-center"><span class="fa-li"></span>ROLL DE CANELA . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTELETA /CUADRADITO . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTELITOS DOCENA . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI FROLA . . . . . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTA FROLA . . . . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>ROLL DE CANELA . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI ROGEL . . . . . . .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI RICOTA . . . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI BALCARSE/ AFRICANA . $200</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pompe/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
    <section class="pricing py-5">                                                                                              
      <div class="container bg-success">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">GASEOSAS / FRUTAS   </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SEVEN .2. 25 . . . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>PEPSI .DIET 2 .25 . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA O AGUA MINERAL .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>PEPSI 500 ML . . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PATAGONIA 740 ML . . . .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>SEVEN 500 . . . . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDWEISER DE LITRO . . .  $290</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUA .SABORIZADA . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUA C/GAS CH . . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUA C/GAS GR . . . . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>PATAGONIA 740 ML . . . .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>PEPSI .2.25 . . . . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOPP PAT PORTER . . . .  $175</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOPP Q CRISTAL . . . . . $135</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES STOUT . . . . . . $290</li>                          
                <li class="text-center"><span class="fa-li"></span>CORONA 355 ML . . . . . . $185</li>                          
                <li class="text-center"><span class="fa-li"></span>STELLA ARTOIS . . . . . . $310</li>                          
                <li class="text-center"><span class="fa-li"></span>JUGOS NATURALES . . . . . $150</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">LICORES/JEREZ/COGNAC</h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>COGNAC NACIONAL . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>LICOR/JEREZ NACIONAL . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>RAICES . . . . . . . . .  $295</li>                          
                <li class="text-center"><span class="fa-li"></span>PACHECO PEREDA VINO . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>GANCIA BOTELLA . . . . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>CINZANO BOTELLA . . . . . $280</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">WHISKIES            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>BLENDERS . . . . . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>PREMIUN . . . . . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>OLD SMUGGLER . . . . . .  $195</li>                          
                <li class="text-center"><span class="fa-li"></span>CRIADORES . . . . . . . . $195</li>                          
                <li class="text-center"><span class="fa-li"></span>J&B . . . . . . . . . . . $265</li>                          
                <li class="text-center"><span class="fa-li"></span>CHIVAS REGAL . . . . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>JHONNIE WALKER ET. NEGRA  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>WHITE HORSE . . . . . . . $265</li>                          
                <li class="text-center"><span class="fa-li"></span>BALLANTINES . . . . . . . $265</li>                          
                <li class="text-center"><span class="fa-li"></span>JHONNIE WALKER ET. ROJA . $370</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CHAMPAGNE/SIDRA     </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CHANDON . . . . . . . . .$1150</li>                          
                <li class="text-center"><span class="fa-li"></span>187 CHANDON . . . . . . . $310</li>                          
                <li class="text-center"><span class="fa-li"></span>BARON B . . . . . . . . .$1550</li>                          
                <li class="text-center"><span class="fa-li"></span>CHAMPAGNE DE LA CASA . .  $295</li>                          
                <li class="text-center"><span class="fa-li"></span>SIDRA . . . . . . . . . . $215</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">APERITIVOS          </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FERNET COLA . . . . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>APERITIVOS VARIOS . . . . $135</li>                          
                <li class="text-center"><span class="fa-li"></span>APERITIVO COMBINADO . . . $145</li>                          
                <li class="text-center"><span class="fa-li"></span>AMERICANO GANCIA . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CINZANO . . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CYNAR . . . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>MARTINI . . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAMPARI . . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>FERNET BOTELLA . . . . .  $780</li>                          
                <li class="text-center"><span class="fa-li"></span>GIN TONIC . . . . . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>GIN COLA . . . . . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>VODKA TONIC . . . . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>VODKA COLA . . . . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>CUBA LIBRE . . . . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>WHISCOLA . . . . . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>REC POR CORTE . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>BATIDOS . . . . . . . . . $210</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">COCKTAILS           </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ALMA MORA CHAMP . . . . . $490</li>                          
                <li class="text-center"><span class="fa-li"></span>CAMPARI BOTELLA . . . . . $640</li>                          
                <li class="text-center"><span class="fa-li"></span>RINONCITO SUG . . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>BONDIOLA SUG . . . . . .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 3 PIZZERIA . . . . $1380</li>                          
                <li class="text-center"><span class="fa-li"></span>TRAGOS VARIOS . . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>LAS MORAS BARRA . . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>ELEMENTOS BARRA . . . . . $220</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">LICUADOS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LIC. NATURAL AL AGUA . .  $165</li>                          
                <li class="text-center"><span class="fa-li"></span>LIC.COMB. . CON LECHE . . $195</li>                          
                <li class="text-center"><span class="fa-li"></span>LIC. ESPECIAL . . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2 .RISSOTTO+ VIN0 . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2 LENTEJAS + VINO . $670</li>                          
                <li class="text-center"><span class="fa-li"></span>MILK SHAKE . . . . . . .  $220</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CLERICOT            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CLERICOT DE VINO . . . .  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>CLERICOT DE SIDRA . . . . $355</li>                          
                <li class="text-center"><span class="fa-li"></span>CLERICOT DE CHAMPAGNE . . $550</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VINOS               </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LATITUD 33 DULCE . . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>ANIMAL CHARD 3/4 . . . .  $820</li>                          
                <li class="text-center"><span class="fa-li"></span>SANTA JULIA CHARD 3/4 . . $290</li>                          
                <li class="text-center"><span class="fa-li"></span>STA JULIA CHARD 1/2 . . . $310</li>                          
                <li class="text-center"><span class="fa-li"></span>SANT JUL DULCE 3/4 . . .  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>LATITUD 33 . . . . . . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>SELECCION LOPEZ 3/4 BL .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>STA JULIA MERLOT/ MALBEC  $470</li>                          
                <li class="text-center"><span class="fa-li"></span>BENJAMIN NIET MERLOT . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>ELEMENTOS .3/4 . . . . .  $290</li>                          
                <li class="text-center"><span class="fa-li"></span>STA JULIA 1/2 MALBEC . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>FINCAS L MORAS . . . . .  $215</li>                          
                <li class="text-center"><span class="fa-li"></span>NIETO SENETINER . . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>SELECCION LOPEZ 1/2 BL .  $165</li>                          
                <li class="text-center"><span class="fa-li"></span>ALMA MORA MALBEC . . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>ALMA MORA CABERNET . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>BENJAMIN NIETO . . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>NEW AGE 3/4 BL . . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>ANIMAL CABERNET 3/4 . . . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>VALMONT TINTO 3/4 . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>SELECCION LOPEZ 3/4 TIN . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>VALDERROBLES TIN. 3/4 . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>STA JULIA BARRA . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>VALMONT TINTO 1/2 . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMO MALBEC . . . . . .  $490</li>                          
                <li class="text-center"><span class="fa-li"></span>SELECCION LOPEZ 1/2 TIN . $165</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA .VINO . . . . . . .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>VALMONT BLANCO 3/4 . . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>PORTILLO 3/4 . . . . . .  $310</li>                          
                <li class="text-center"><span class="fa-li"></span>SANTA JULIA MALBEC . . .  $320</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pompe/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
    <section class="pricing py-5">                                                                                              
      <div class="container bg-warning">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">TABLAS / PICADAS    </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TABLA MIXTA . . . . . . .$2200</li>                          
                <li class="text-center"><span class="fa-li"></span>TABLA DE QUESOS . . . . .$1950</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 PICADA POMPEII . . .  $825</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPER PICADA POMPEII . . $1270</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">CARNE TERNERA       </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>BIFE DE CHORIZO C/GUARNIC $630</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE DE LOMO C/ GUARNI .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>ALBONGIGAS .PORTUGUESA .  $290</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA DE TERNERA C/ GU $365</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA NAPOLITANA C/ GU $485</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDALLON LOMO SABORIZADO  $870</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI BIFE C/ GUARNI . . . $540</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA BACON GR . . . $1465</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA BACON CH . . .  $940</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA BACON IND . . . $495</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA FIORENT GR . . $1410</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA FIORENT CH . .  $925</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA FUGA IND . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA FUGA CH. . . .  $795</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA NAPO IND. . . . $440</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA NAPO CH . . . . $840</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA NAPO. GR . . . $1280</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA FUGAZZETA GR . $1290</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE DE CHORIZO POMPEII . $950</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA MUZZA IND . . . $415</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA FIORENT IND . . $475</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA MUZZARELLA GR .$1250</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA MUZZA CH . . .  $765</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA PRIMAVERA GR . $1465</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA PRIMAV CH . . . $940</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA PRIMAV IND . .  $495</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA CALABRESA IND . $475</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA CALABRESA CH .  $925</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA CALABRESA GR . $1410</li>                          
                <li class="text-center"><span class="fa-li"></span>TAPA RELLENA . . . . . .  $310</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">AVES                </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>POLLO ENT C/ FRIT AL HORN $550</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 POLLO GRILLE C/ GUARN $340</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 POLLO SABORIZADO . .  $560</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA DE POLLO C/ GUARN $340</li>                          
                <li class="text-center"><span class="fa-li"></span>RISOTTO DE VEGETALES . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA NAPOLITANA C/ GUA $460</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET DE MERLUZA LIGHT .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA SABORIZADA . . .  $610</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PESCADO             </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FILET DE MERLUZA C/ GUARN $385</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENSALADAS ESPECIALES</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SALAD BAR . . . . . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>AGRE POLLO JAM QUESO . .   $95</li>                          
                <li class="text-center"><span class="fa-li"></span>AGRE PALM ATUN KANIKAMA .  $95</li>                          
                <li class="text-center"><span class="fa-li"></span>AGRE .ROQUEF CRUDO . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA CESAR . . . . .  $365</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA POMPEII . . . .  $385</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PARA ACOMPAAR      </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PURE DE PAPA .PORCION . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>ARROZ C/ CALAMARES . . .  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS FRITAS PORCION . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS REJILL/NOIS/PAI POR $160</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS FRITAS .GUARNICION  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>HUEVOS FRITOS O DURO POR.  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PURE CALABAZA O MIXTO POR $180</li>                          
                <li class="text-center"><span class="fa-li"></span>REC PROVENZAL . . . . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS REJ/NOIS/PAI .GUARN $140</li>                          
                <li class="text-center"><span class="fa-li"></span>PURE DE PAPA GUARNICION.  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>PURE CALABAZA O MIXTO GUA $140</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDALLON DE ESPINACA . .  $275</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">OMELETTE / TORTILLA </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>OMELETTE QUESO . . . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTE JAMON Y QUESO .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTE ESPECIAL . . . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>REVUELTO GRAMAJO . . . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA SIMPLE . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA ESPECIAL . . . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTE CHAMPIG SUG . .  $200</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PASTAS              </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PROMO PASTA . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>TALLARINES AL HUEVO . . . $165</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES DE VERDUR/AVE .  $205</li>                          
                <li class="text-center"><span class="fa-li"></span>NOQUIS PURE PAPA . . . .  $165</li>                          
                <li class="text-center"><span class="fa-li"></span>CANELONES ESPIN/POLLO/JAM $205</li>                          
                <li class="text-center"><span class="fa-li"></span>SORRENTINOS DE RICOTA . . $205</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PARA SOBORIZAR      </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>OLIVA O MANTECA . . . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PUTANESCA . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>ROSE . . . . . . . . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>FILETO . . . . . . . . .   $95</li>                          
                <li class="text-center"><span class="fa-li"></span>BOLOGNESA . . . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>CARUSO . . . . . . . . .  $155</li>                          
                <li class="text-center"><span class="fa-li"></span>SCARPARO . . . . . . . .  $145</li>                          
                <li class="text-center"><span class="fa-li"></span>CARBONARA . . . . . . . . $165</li>                          
                <li class="text-center"><span class="fa-li"></span>PESTO . . . . . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA CREMA . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>PARISIEN . . . . . . . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>QUATRO FORMAGGIO . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>ESTOFADO . . . . . . . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA BLANCA . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA MIXTA . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>LASAGNA RELLENA . . . . . $270</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pompe/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
    <section class="pricing py-5">                                                                                              
      <div class="container bg-info">                                                                                           
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">POSTRES             </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TARTAS VARIAS . . . . . . $195</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOPP + 2 PORC . . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN CASERO . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA DE FRUTAS . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA DE FRUTAS C/HELA $240</li>                          
                <li class="text-center"><span class="fa-li"></span>QUESO Y DULCE . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>VIGILANTE . . . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN DE PAN . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>FRUTILLAS . . . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE DULCE DE LECHE  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQ. MANZANA AL RHUM . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>REC CREMA O DULCE . . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADOS VARIOS (2 BOCHAS) $210</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 4// 30 EMP . . . . $1590</li>                          
                <li class="text-center"><span class="fa-li"></span>BOCHA DE HELADO . . . . . $115</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">COPAS HELADAS       </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>COPA POMPEII . . . . . .  $580</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA BANANA SPLIT . . . . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA MELBA . . . . . . .  $580</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pompe/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
