    <section class="pricing py-5">                                                                                              
      <div class="container bg-success">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">GASEOSAS/CERVEZAS/FR</h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SEVEN .2. 25 DELIVERY . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>PEPSI .DIET 2 .25 . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA O AGUA MINERAL .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>PEPSI 500 ML DELIVERY . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>PATAGONIA 740 ML . . . .  $470</li>                          
                <li class="text-center"><span class="fa-li"></span>SEVEN 500 . . . . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDWEISER DE LITRO . . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>SABORIZADA/GASEOSA 500 ML $150</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUA C/GAS CH . . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUA C/GAS GR DELIVERY .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>PATAGONIA 740 ML . . . .  $470</li>                          
                <li class="text-center"><span class="fa-li"></span>PEPSI .2.25 . . . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOPP Q CRISTAL . . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES STOUT . . . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>CORONA 355 ML . . . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>STELLA . . . . . . . . .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>JUGOS NATURALES . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>LATA QUILMES 473 ML . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>CORONA 710 ML . . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA GR BARRA . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA CH BARRA . . . .  $100</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">LICORES/JEREZ/COGNAC</h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>COGNAC NACIONAL . . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>LICOR/JEREZ NACIONAL . .  $190</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">WHISKIES            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>BLENDERS . . . . . . . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>PREMIUN . . . . . . . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>OLD SMUGGLER . . . . . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>CRIADORES . . . . . . . . $390</li>                          
                <li class="text-center"><span class="fa-li"></span>J&B . . . . . . . . . . . $390</li>                          
                <li class="text-center"><span class="fa-li"></span>CHIVAS REGAL . . . . . .  $490</li>                          
                <li class="text-center"><span class="fa-li"></span>JHONNIE WALKER ET. NEGRA  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>WHITE HORSE . . . . . . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>BALLANTINES . . . . . . . $420</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CHAMPAGNE/SIDRA     </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CHANDON . . . . . . . . .$1250</li>                          
                <li class="text-center"><span class="fa-li"></span>187 CHANDON . . . . . . . $390</li>                          
                <li class="text-center"><span class="fa-li"></span>BARON B . . . . . . . . .$2190</li>                          
                <li class="text-center"><span class="fa-li"></span>CHAMPAGNE DE LA CASA . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>SIDRA . . . . . . . . . . $390</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">APERITIVOS          </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FERNET COLA . . . . . . . $290</li>                          
                <li class="text-center"><span class="fa-li"></span>APERITIVOS VARIOS . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>APERITIVO COMBINADO . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>AMERICANO GANCIA . . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>CINZANO . . . . . . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>CYNAR . . . . . . . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>MARTINI . . . . . . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>CAMPARI . . . . . . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>GIN TONIC . . . . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>GIN COLA . . . . . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>VODKA TONIC . . . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>VODKA COLA . . . . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>CUBA LIBRE . . . . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>WHISCOLA . . . . . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>REC POR CORTE . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>BATIDOS . . . . . . . . . $210</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">COCKTAILS VARIOS    </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ALMA MORA CHAMP . . . . . $490</li>                          
                <li class="text-center"><span class="fa-li"></span>CAMPARI BOTELLA . . . . . $640</li>                          
                <li class="text-center"><span class="fa-li"></span>TRAGOS VARIOS . . . . . . $250</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">LICUADOS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LIC. NATURAL AL AGUA . .  $165</li>                          
                <li class="text-center"><span class="fa-li"></span>LIC.COMB. CON LECHE . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>LIC. ESPECIAL . . . . . . $245</li>                          
                <li class="text-center"><span class="fa-li"></span>MILK SHAKE . . . . . . .  $245</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CLERICOT            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CLERICOT DE VINO . . . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>CLERICOT DE SIDRA . . . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>CLERICOT DE CHAMPAGNE . . $670</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VINOS               </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LATITUD 33 DULCE . . . .  $540</li>                          
                <li class="text-center"><span class="fa-li"></span>ANIMAL CHARD 3/4 . . . .  $900</li>                          
                <li class="text-center"><span class="fa-li"></span>SANTA JULIA CHARD 3/4 . . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>STA JULIA CHARD 1/2 . . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>SANT JUL DULCE 3/4 . . .  $630</li>                          
                <li class="text-center"><span class="fa-li"></span>LATITUD 33 . . . . . . .  $580</li>                          
                <li class="text-center"><span class="fa-li"></span>SELECCION LOPEZ 3/4 BL .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>STA JULIA MERLOT/ MALBEC  $540</li>                          
                <li class="text-center"><span class="fa-li"></span>BENJAMIN NIET MERLOT . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>ELEMENTOS .3/4 . . . . .  $530</li>                          
                <li class="text-center"><span class="fa-li"></span>STA JULIA 1/2 MALBEC . .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>FINCAS L MORAS . . . . .  $440</li>                          
                <li class="text-center"><span class="fa-li"></span>NIETO SENETINER . . . . . $900</li>                          
                <li class="text-center"><span class="fa-li"></span>SELECCION LOPEZ 1/2 BL .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>ALMA MORA MALBEC . . . .  $640</li>                          
                <li class="text-center"><span class="fa-li"></span>ALMA MORA CABERNET . . .  $530</li>                          
                <li class="text-center"><span class="fa-li"></span>BENJAMIN NIETO . . . . .  $490</li>                          
                <li class="text-center"><span class="fa-li"></span>NEW AGE 3/4 BL . . . . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>ANIMAL CABERNET 3/4 . . . $830</li>                          
                <li class="text-center"><span class="fa-li"></span>VALMONT TINTO 3/4 . . . . $570</li>                          
                <li class="text-center"><span class="fa-li"></span>SELECCION LOPEZ 3/4 TIN . $460</li>                          
                <li class="text-center"><span class="fa-li"></span>VALDERROBLES TIN. 3/4 . . $510</li>                          
                <li class="text-center"><span class="fa-li"></span>STA JULIA . . . . . . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>VALMONT TINTO 1/2 . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMO MALBEC . . . . . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>SELECCION LOPEZ 1/2 TIN . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>VALMONT BLANCO 3/4 . . .  $570</li>                          
                <li class="text-center"><span class="fa-li"></span>RAICES . . . . . . . . .  $480</li>                          
                <li class="text-center"><span class="fa-li"></span>PACHECO PEREDA VINO . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>LAS MORAS BARRA . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>ELEMENTOS TORRONTES . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>PORTILLO 3/4 . . . . . .  $440</li>                          
                <li class="text-center"><span class="fa-li"></span>SANTA JULIA MALBEC . . .  $600</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pompe/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
