    <section class="pricing py-5">                                                                                              
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDWICH ESPECIAL   </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__sandwich__</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>DE SALAME . . . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL DE QUESO . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL DE COCIDO . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL COCIDO Y QUESO . $185</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL CRUDO . . . . .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL CRUDO Y QUESO .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>DE MATAMBRE CASERO . . .  $240</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">TRAVIATA / CROISANT </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__sandwich__</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LUNA C/J.COC O QUESO . .   $85</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUN JAM QUE X2 . . . $185</li>                          
                <li class="text-center"><span class="fa-li"></span>DOS LUNAS J.CRUDO . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>DOS LUNAS CRUDO Y QUESO . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNA JQ TOST . . . . $100</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">TOSTADO ESPECIAL    </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__sandwich__</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TOSTADO COCIDO Y QUESO .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>TOST. MIGA CRUDO Y QUESO  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADO CRUDO Y QUESO . . $250</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDW. MIGA         </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__sandwich__</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SAND MIGA QUESO . . . . . $175</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND MIGA SALAME . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>MIGA CRUDO . . . . . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>MIGA COCIDO Y QUESO . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>MIGA CRUDO Y QUESO . . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO TOSTADO . . . . .  $80</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDWICHES          </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__sandwich__</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SAND DE MILA SOLA . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND MILA CLASICO . . . . $310</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND MILA COMPLETO . . .  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>HAMBURGUESA SOLO . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>HAMBURGUESA CLASICO . . . $290</li>                          
                <li class="text-center"><span class="fa-li"></span>PANCHO . . . . . . . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>HAMBURGUESA COMPLETO . .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMITO SOLO . . . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMITO CLASICO . . . . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMITO COMPLETO . . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>HAMBURGUESA LUIS . . . .  $480</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">AGREGADOS SANDWICH  </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__sandwich__</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>RECGO LECH TOM PEPINO . .  $50</li>                          
                <li class="text-center"><span class="fa-li"></span>RECGO COCID QUESO HUEVO .  $50</li>                          
                <li class="text-center"><span class="fa-li"></span>RECGO ANAN MORR ESPERRAGO  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>RERGO PAV ATU PALM CRUDO  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>AGR./JAM. CRUD/PALMITOS .  $95</li>                          
                <li class="text-center"><span class="fa-li"></span>AGR.ATUN/PALMITOS . . . .  $90</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pompe/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
