    <section class="pricing py-5">                                                                                              
      <div class="container bg-danger">                                                                                         
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA           </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CAFE . . . . . . . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON CREMA . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE . . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE CON CREMA . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON LECHE . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE C/3 MEDIALUN $170</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO . . . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO A LA ITALIANA . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>SUBMARINO . . . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE CHOCOLATADA . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE FRIA/CALIENTE . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICANO . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>TE DE HIERBAS . . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>TE DE HIERBAS C/LECHE . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>TE DIGESTIVO . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>YOGUR . . . . . . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE URUGUAYO . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>TE DE HIERBAS C/3 MEDIALU $180</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE ITALIANA . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE URU MUFFINS . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE INVITACION . . . . . $454</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPER MERIENDA 1 TX . . . $830</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">LOS DULCES          </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MINI FRUTILLA . . . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI LEMON . . . . . . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>FACTURAS DOCENA . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIA DOCENA FACTURA P/LL $160</li>                          
                <li class="text-center"><span class="fa-li"></span>MASAS SECAS (KILO) . . . $1250</li>                          
                <li class="text-center"><span class="fa-li"></span>MASAS SECAS 1/2 KILO . .  $625</li>                          
                <li class="text-center"><span class="fa-li"></span>MASAS SECAS 1/4 KILO . .  $312</li>                          
                <li class="text-center"><span class="fa-li"></span>DOCENA CHURROS . . . . .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 DOC CHURROS . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS/FACTURAS . . .  $40</li>                          
                <li class="text-center"><span class="fa-li"></span>PAN X KG . . . . . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CREMONA/ TRENCITAS X KG . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>MASAS SECAS (2) . . . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADAS . . . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>ALFAJORES VARIOS . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI SACH/CHEESE / MOUSSE $240</li>                          
                <li class="text-center"><span class="fa-li"></span>DULCE/MANTECA/MERMELADA . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>PAN DULCE . . . . . . . . $850</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI PAN DULCE . . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>CHEESE CAKE . . . . . . . $950</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTA POR KILO . . . . .  $680</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOTORTA MINI . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>ROLL DE CANELA . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2 DOCENAS DE FACTUR $510</li>                          
                <li class="text-center"><span class="fa-li"></span>ROLL DE CANELA . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>ROLL DE CANELA . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>BIZCOCHUELO . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTELETA /CUADRADITO . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTELITOS DOCENA . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI FROLA . . . . . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTA FROLA EFECTIVO . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>ROLL DE CANELA . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI ROGEL . . . . . . .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI RICOTA . . . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI BALCARSE/ AFRICANA . $200</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">TARDE ESPECIAL      </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FIVE O'CLOCK . . . . . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE URU ALFAJ . . . . .  $170</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA ESPECIAL  </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CAFE ITA ALF . . . . . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE .DEL DIA . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>LIMONADA CON TRIPLE . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>VASO DE LIMONADA . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA DE LIMONADA . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>ICED COFFEE 1 TX . . . .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>MUFFINS . . . . . . . . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN ESPECIAL DULCE . .  $170</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">PARA DISFRUTAR      </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CHOPP + 2 PORC . . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTA FROLA . . . . . . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTA DE RICOTA . . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTA DE COCO . . . . . . $510</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTA DE MANZANA . . . .  $480</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTA FRUTILLA . . . . .  $620</li>                          
                <li class="text-center"><span class="fa-li"></span>LEMON PIE . . . . . . . . $620</li>                          
                <li class="text-center"><span class="fa-li"></span>MOUSSE VARIOS . . . . . . $530</li>                          
                <li class="text-center"><span class="fa-li"></span>SACHER . . . . . . . . .  $950</li>                          
                <li class="text-center"><span class="fa-li"></span>SCONES O POLVORONES . . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>PALMERITAS .KG . . . . .  $385</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI MANZANA . . . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>MERENGUES . . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>TART PORC.FROLA . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI SELVA NEGRA . . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>BROWNIE . . . . . . . . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>SELVA NEGRA . . . . . . . $950</li>                          
                <li class="text-center"><span class="fa-li"></span>BISCOCHITOS SALADOS 1/4KG  $95</li>                          
                <li class="text-center"><span class="fa-li"></span>CUER/ BIZCO SALADOS KG .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>BIZC/ CUERNITOS X 1/2 KG  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>BIZC/ CUERNITOS X 1/4 KG   $95</li>                          
                <li class="text-center"><span class="fa-li"></span>SABORIZADOS POR KILO . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO LICUADO . . . . . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO CAPUCHINO . . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO AFTER OFFICE GIN TO $240</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO GANCIA CINZANO . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO BALON . . . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO APERITIVOS . . . .  $240</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">                    </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
              <h5 class="card-title text-danger text-uppercase text-center">PROMO CAFETERIA     </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">Promociones </h6>                                   
<li><span class="fa-li"><i class="fas fa-check"></i></span>promo cafetera            $150</li>                                  
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pompe/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
