    <section class="pricing py-5">                                                                                              
      <div class="container bg-info">                                                                                           
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">POSTRES             </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TARTAS VARIAS . . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN CASERO . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA DE FRUTAS . . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA DE FRUTAS C/HELA $270</li>                          
                <li class="text-center"><span class="fa-li"></span>QUESO Y DULCE . . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>VIGILANTE . . . . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN DE PAN . . . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>FRUTILLAS . . . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE DULCE DE LECHE  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQ. MANZANA AL RHUM . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>REC CREMA O DULCE . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADOS VARIOS (2 BOCHAS) $240</li>                          
                <li class="text-center"><span class="fa-li"></span>BOCHA DE HELADO . . . . . $135</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">COPAS HELADAS       </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>COPA POMPEII . . . . . .  $660</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA BANANA SPLIT . . . . $660</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA MELBA . . . . . . .  $660</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pompe/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
