    <section class="pricing py-5">                                                                                              
      <div class="container bg-warning">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDW. ESPECIAL     </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>DE SALAME . . . . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL DE QUESO . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL DE COCIDO . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL COCIDO Y QUESO . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL CRUDO . . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL CRUDO Y QUESO .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>DE MATAMBRE CASERO . . .  $270</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">TRAVIATA / CROISANT </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LUNA C/J.COC O QUESO . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>(2 LUN JQ) . . . . . . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>DOS LUNAS J.CRUDO . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>DOS LUNAS CRUDO Y QUESO . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>1 LUNA JQ TOST . . . . .  $100</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">TOSTADO ESPECIAL    </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TOSTADO SIMPLE . . . . .  $175</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADO COCIDO Y QUESO .  $290</li>                          
                <li class="text-center"><span class="fa-li"></span>TOST. MIGA CRUDO Y QUESO  $315</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADO CRUDO Y QUESO . . $315</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDW. MIGA         </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SAND MIGA QUESO . . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND MIGA SALAME . . . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>MIGA CRUDO . . . . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>MIGA COCIDO Y QUESO . . . $290</li>                          
                <li class="text-center"><span class="fa-li"></span>MIGA CRUDO Y QUESO . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO TOSTADO . . . . . $100</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">TABLAS VARIADAS     </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TABLA MIXTA . . . . . . .$2800</li>                          
                <li class="text-center"><span class="fa-li"></span>TABLA DE QUESOS . . . . .$2450</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 PICADA POMPEII . . . $1100</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPER PICADA POMPEII . . $1600</li>                          
                <li class="text-center"><span class="fa-li"></span>CAZUELITAS POR UNID . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>TRIOLET COMUN . . . . . .  $80</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">CARNE TERNERA       </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>1/2 POLLO GRILLE F Y EMIX $510</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE DE CHORIZO C/GUARNIC $790</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE DE LOMO C/ GUARNI .  $950</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA DE TERNERA C/ GU $460</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA NAPOLITANA C/ GU $620</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDALLON LOMO SABORIZADO $1150</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI BIFE C/ GUARNI . . . $690</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA DE POLLO C/ GUARN $430</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA BACON GR . . . $1850</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA BACON CH . . . $1210</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA BACON IND . . . $630</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA FIORENT GR . . $1790</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA FIORENT CH . . $1180</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA FUGA IND . . .  $540</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA FUGA CH. . . . $1010</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA NAPO IND. . . . $570</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA NAPO CH . . . .$1070</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA NAPO. GR . . . $1630</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA FUGAZZETA GR . $1600</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE DE CHORIZO POMPEII . $950</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA MUZZA IND . . . $530</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA FIORENT IND . . $610</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA MUZZARELLA GR .$1590</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA MUZZA CH . . .  $950</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA PRIMAV GR . . .$1850</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA PRIMAV CH . . .$1210</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA PRIMAV IND . .  $630</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA CALABRESA IND . $610</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA CALABRESA CH . $1180</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA CALABRESA GR . $1790</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">AVES                </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>POLLO ENT C/ FRIT AL HORN $600</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 POLLO GRILLE C/ GUARN $430</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 POLLO SABORIZADO . .  $720</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA NAPOLITANA C/ GUA $590</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA SABORIZADA . . .  $780</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PESCADO             </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FILET DE MERLUZA LIGHT .  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET DE MERLUZA C/ GUARN $510</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENTRADAS            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MATAMBRE C/RUSA . . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>RABAS . . . . . . . . . . $720</li>                          
                <li class="text-center"><span class="fa-li"></span>PINCHO DE MUZARRELLA . .  $580</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENSALADAS ESPECIALES</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SALAD BAR . . . . . . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>AGRE POLLO JAM QUESO . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>AGRE PALM ATUN KANIKAMA . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>AGRE .ROQUEF CRUDO . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA CESAR . . . . .  $460</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA POMPEII . . . .  $460</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PARA ACOMPANAR      </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PURE DE PAPA .PORCION . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS FRITAS PORCION . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS REJILL/NOIS/PAI POR $240</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS FRITAS GUARNICION . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>HUEVOS FRITOS O DURO POR.  $95</li>                          
                <li class="text-center"><span class="fa-li"></span>PURE CALABAZA O MIXTO POR $240</li>                          
                <li class="text-center"><span class="fa-li"></span>REC PROVENZAL . . . . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS REJ/NOIS/PAI .GUARN $180</li>                          
                <li class="text-center"><span class="fa-li"></span>PURE DE PAPA GUARNICION.  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>PURE CALABAZA O MIXTO GUA $180</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDALLON DE ESPINACA . .  $360</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">LO DE SIEMPRE       </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>POLLO ENTERO DELIVERY . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>CANASTITAS . . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE A LA PIZZA . . . $540</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">OMELETTE / TORTILLA </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>OMELETTE QUESO . . . . .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTE JAM Y QUE . . .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTE ESPECIAL . . . . $340</li>                          
                <li class="text-center"><span class="fa-li"></span>REVUELTO GRAMAJO . . . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA SIMPLE . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA ESPECIAL . . . . $300</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDWICHES          </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SAND DE MILA SOLA . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND MILA CLASICO . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND MILA COMPLETO . . .  $415</li>                          
                <li class="text-center"><span class="fa-li"></span>HAMBURGUESA SOLO . . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>HAMBURGUESA CLASICO . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>HAMBURGUESA COMPLETO . .  $395</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMITO SOLO . . . . . . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMITO CLASICO . . . . .  $460</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMITO COMPLETO . . . . . $525</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PASTAS              </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TALLARINES AL HUEVO . . . $195</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES DE VERDUR/AVE .  $245</li>                          
                <li class="text-center"><span class="fa-li"></span>NOQUIS PURE PAPA . . . .  $195</li>                          
                <li class="text-center"><span class="fa-li"></span>CANELONES ESPIN/POLLO/JAM $245</li>                          
                <li class="text-center"><span class="fa-li"></span>SORRENTINOS DE RICOTA . . $245</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PARA SABORIZAR      </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>OLIVA O MANTECA . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PUTANESCA . . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>ROSE . . . . . . . . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>FILETO . . . . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>BOLOGNESA . . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CARUSO . . . . . . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>SCARPARO . . . . . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>CARBONARA . . . . . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>PESTO . . . . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA CREMA . . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>PARISIEN . . . . . . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>QUATRO FORMAGGIO . . . .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>ESTOFADO . . . . . . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA BLANCA . . . . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA MIXTA . . . . . . . $145</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">NOVEDADES DEL CHEFF </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ENSALADA CAPRESSE . . . . $460</li>                          
                <li class="text-center"><span class="fa-li"></span>LASAGNA RELLENA . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOW MEIN . . . . . . . . $290</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">LIGHT               </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>RISOTTO DE VEGETALES . .  $540</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">NOVEDADES EN PROMO  </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>HAMBURGUESA LUIS . . . .  $480</li>                          
                <li class="text-center"><span class="fa-li"></span>CUATRO ESTACIONES IND. .  $255</li>                          
                <li class="text-center"><span class="fa-li"></span>CUATRO ESTACIONES CH. . . $670</li>                          
                <li class="text-center"><span class="fa-li"></span>CUATRO ESTACIONES GR. . . $860</li>                          
                <li class="text-center"><span class="fa-li"></span>RUCOLINA C/ CRUDO IND . . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>RUCOLINA C/ CRUDO CH . .  $490</li>                          
                <li class="text-center"><span class="fa-li"></span>RUCOLINA C/ CRUD GR. . .  $770</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">EMPANADAS           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>EMPANADAS VARIAS . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>FAINA . . . . . . . . . .  $50</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZAS              </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MOZZARELLA GR. . . . . .  $590</li>                          
                <li class="text-center"><span class="fa-li"></span>MARGARITA GR. . . . . . . $610</li>                          
                <li class="text-center"><span class="fa-li"></span>ANCHOAS GR. . . . . . . . $440</li>                          
                <li class="text-center"><span class="fa-li"></span>ROMANA GR. . . . . . . .  $705</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA C/ JAMON GR. . .  $705</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA CON QUESO GR. . . $670</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPOLITANA GR. . . . . .  $670</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPOLITANA ESP GR. . . .  $705</li>                          
                <li class="text-center"><span class="fa-li"></span>DE JAMON .GR. . . . . . . $680</li>                          
                <li class="text-center"><span class="fa-li"></span>MOZZARELLA CH. . . . . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>MARGARITA CH. . . . . . . $460</li>                          
                <li class="text-center"><span class="fa-li"></span>ANCHOAS CH. . . . . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>ROMANA CH. . . . . . . .  $545</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA C/ JAMON CH. . .  $545</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA C\QUESO CH. . . . $520</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPOLITANA CH. . . . . .  $520</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPOLITANA ESPECIAL CH. . $545</li>                          
                <li class="text-center"><span class="fa-li"></span>DE JAMON .CH. . . . . . . $520</li>                          
                <li class="text-center"><span class="fa-li"></span>MOZZARELLA IND. . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>MARGARITA IND. . . . . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>ANCHOAS IND. . . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>ROMANA IND. . . . . . . . $235</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA C/ JAMON IND. . . $235</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA CON QUESO IND. .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPOLITANA IND. . . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPOLITANA ESPECIAL IND.  $235</li>                          
                <li class="text-center"><span class="fa-li"></span>DE JAMON .IND. . . . . .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CON MORRONES GR. .  $790</li>                          
                <li class="text-center"><span class="fa-li"></span>ROQUEFORT GR. . . . . . . $860</li>                          
                <li class="text-center"><span class="fa-li"></span>PROVOLONE GR. . . . . . . $920</li>                          
                <li class="text-center"><span class="fa-li"></span>PALMITOS GR. . . . . . .  $900</li>                          
                <li class="text-center"><span class="fa-li"></span>CALABRESA GR. . . . . . . $860</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPINACAS GR. . . . . . . $590</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL DE 4 QUESOS GR.  $990</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMAICA GR. . . . . . . . $790</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CON MORRONES CH. .  $610</li>                          
                <li class="text-center"><span class="fa-li"></span>ROQUEFORT CH. . . . . . . $670</li>                          
                <li class="text-center"><span class="fa-li"></span>PROVOLONE CH. . . . . . . $710</li>                          
                <li class="text-center"><span class="fa-li"></span>PALMITOS CH. . . . . . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>CALABRESA CH. . . . . . . $665</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPINACAS CH. . . . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL DE 4 QUESOS CH.  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMAICA CH. . . . . . . . $610</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CON MORRONES IND. . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>ROQUEFORT IND. . . . . .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>PROVOLONE IND. . . . . .  $290</li>                          
                <li class="text-center"><span class="fa-li"></span>PALMITOS IND. . . . . . . $305</li>                          
                <li class="text-center"><span class="fa-li"></span>CALABRESA IND. . . . . .  $275</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPINACAS IND. . . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL 4 QUESOS .IND .  $305</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMAICA IND. . . . . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE TRADICIONAL GR. . $770</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE TRADICIONAL CH. . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE LIGHT GR . . . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE LIGHT CH . . . .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 3 PIZZA+GASEOSA . .$1730</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZETTA RELL GR . . .  $690</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZETTA RELL CH . . .  $495</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL RELL GR . . . .  $790</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL RELL CH . . . .  $590</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPER ESP. RELL CH . . .  $640</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPER ESP. RELL GR . . .  $820</li>                          
                <li class="text-center"><span class="fa-li"></span>PAN DE PIZZA CH. . . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>PAN DE PIZZA GR. . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION DE MUZZA . . . .   $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2 DOC EMPANADA . . $1540</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 3 DOC EMPANADA . . $1900</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2 PIZZA + GASEOSA .$1510</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 1 PIZZA . . . . . .$1550</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 1 PIZZA+ GASEOSA . $1700</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2 ALBONDIG + P.PERD $670</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 4 //1 DOC . . . . . $585</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 4 / 1 DOC + GASEOSA $965</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 4// 18 EMP . . . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 4// 18EMP + GASEOSA$1350</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 4//24 EMP . . . . .$1090</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 4// 24 + GASEOSA . $1440</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 4// 30 EMP + GASEOS$1980</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2 PIZZA . . . . . .$1380</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 1 PIZZERIA + GASEOS$1340</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 3PIZZERIA . . . . .$1250</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 18 EMPANADAS . . . $1200</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pompe/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
