    <section class="pricing py-5">                                                                                              
      <div class="container bg-warning">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDW. ESPECIAL     </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>DE SALAME . . . . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL DE QUESO . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL DE COCIDO . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL COCIDO Y QUESO . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL CRUDO . . . . .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL CRUDO Y QUESO .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>DE MATAMBRE CASERO . . .  $280</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">TRAVIATA / CROISANT </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>(2 LUN JQ) . . . . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>DOS LUNAS J.CRUDO . . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>DOS LUNAS CRUDO Y QUESO . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADO QUESO . . . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>1 LUNA JAM QUE TOST . . . $140</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">TOSTADO ESPECIAL    </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TOSTADO SIMPLE . . . . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADO COCIDO Y QUESO .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADO JAMON . . . . . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>TOST. MIGA CRUDO Y QUESO  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADO CRUDO Y QUESO . . $350</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDW. MIGA         </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SAND MIGA QUESO . . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND MIGA SALAME . . . .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>MIGA CRUDO . . . . . . .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>MIGA COCIDO Y QUESO . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>MIGA CRUDO Y QUESO . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO TOSTADO . . . . . $100</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">TABLAS VARIADAS     </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TABLA MIXTA . . . . . . .$3100</li>                          
                <li class="text-center"><span class="fa-li"></span>TABLA DE QUESOS . . . . .$2800</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 PICADA POMPEII . . . $1260</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPER PICADA POMPEII . . $1850</li>                          
                <li class="text-center"><span class="fa-li"></span>CAZUELITAS POR UNID . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>TRIOLET COMUN . . . . . . $100</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">CARNE TERNERA       </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>1/2 POLLO GRILLE F Y EMIX $510</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE DE CHORIZO C/GUARNIC $910</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE DE LOMO C/ GUARNI . $1100</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA DE TERNERA C/ GU $530</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA NAPOLITANA C/ GU $720</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDALLON LOMO SABORIZADO $1300</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI BIFE C/ GUARNI . . . $790</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA DE POLLO C/ GUARN $490</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA BACON GR . . . $2130</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA BACON CH . . . $1390</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA BACON IND . . . $730</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA FIORENT GR . . $2060</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA FIORENT CH . . $1360</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA FUGA IND . . .  $620</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA FUGA CH. . . . $1160</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA NAPO IND. . . . $660</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA NAPO CH . . . .$1230</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA NAPO. GR . . . $1870</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA FUGAZZETA GR . $1840</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA MUZZA IND . . . $610</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA FIORENT IND . . $610</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA MUZZARELLA GR .$1830</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA MUZZA CH . . . $1100</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA PRIMAV GR . . .$2130</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA PRIMAV CH . . .$1330</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA PRIMAV IND . .  $730</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA CALABRESA IND . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA CALABRESA CH . $1360</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA CALABRESA GR . $2060</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">AVES                </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>POLLO ENT C/ FRIT AL HORN $700</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 POLLO GRILLE C/ GUARN $490</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 POLLO SABORIZADO . .  $890</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA NAPOLITANA C/ GUA $590</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA SABORIZADA . . .  $890</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PESCADO             </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FILET DE MERLUZA LIGHT .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET DE MERLUZA C/ GUARN $580</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENTRADAS            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MATAMBRE C/RUSA . . . . . $520</li>                          
                <li class="text-center"><span class="fa-li"></span>RABAS . . . . . . . . . . $850</li>                          
                <li class="text-center"><span class="fa-li"></span>PINCHO DE MUZARRELLA . .  $670</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENSALADAS ESPECIALES</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SALAD BAR . . . . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>AGRE POLLO JAM QUESO . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>AGRE PALM ATUN KANIKAMA . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>AGRE .ROQUEF CRUDO . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA CESAR . . . . .  $530</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA POMPEII . . . .  $530</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PARA ACOMPANAR      </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PURE DE PAPA .PORCION . . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS FRITAS PORCION . .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS REJILL/NOIS/PAI POR $270</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS FRITAS GUARNICION . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>HUEVOS FRITOS O DURO POR. $100</li>                          
                <li class="text-center"><span class="fa-li"></span>PURE CALABAZA O MIXTO POR $270</li>                          
                <li class="text-center"><span class="fa-li"></span>REC PROVENZAL . . . . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS REJ/NOIS/PAI .GUARN $240</li>                          
                <li class="text-center"><span class="fa-li"></span>PURE DE PAPA GUARNICION.  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>PURE CALABAZA O MIXTO GUA $240</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDALLON DE ESPINACA . .  $390</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">LO DE SIEMPRE       </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>POLLO ENTERO DELIVERY . . $770</li>                          
                <li class="text-center"><span class="fa-li"></span>CANASTITAS . . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE A LA PIZZA . . . $590</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">OMELETTE / TORTILLA </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>OMELETTE QUESO . . . . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTE JAM Y QUE . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETTE ESPECIAL . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>REVUELTO GRAMAJO . . . .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA SIMPLE . . . . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA ESPECIAL . . . . $350</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDWICHES          </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SAND DE MILA SOLA . . . . $290</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND MILA CLASICO . . . . $410</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND MILA COMPLETO . . .  $480</li>                          
                <li class="text-center"><span class="fa-li"></span>HAMBURGUESA SOLO . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>HAMBURGUESA CLASICO . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>HAMBURGUESA COMPLETO . .  $395</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMITO SOLO . . . . . . . $410</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMITO CLASICO . . . . .  $530</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMITO COMPLETO . . . . . $525</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PASTAS              </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TALLARINES AL HUEVO . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES DE VERDUR/AVE .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>NOQUIS PURE PAPA . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>CANELONES ESPIN/POLLO/JAM $260</li>                          
                <li class="text-center"><span class="fa-li"></span>SORRENTINOS DE RICOTA . . $260</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PARA SABORIZAR      </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>OLIVA O MANTECA . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PUTANESCA . . . . . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>ROSE . . . . . . . . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>FILETO . . . . . . . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>BOLOGNESA . . . . . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>CARUSO . . . . . . . . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>SCARPARO . . . . . . . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>CARBONARA . . . . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>PESTO . . . . . . . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA CREMA . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>PARISIEN . . . . . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>QUATRO FORMAGGIO . . . .  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>ESTOFADO . . . . . . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA BLANCA . . . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA MIXTA . . . . . . . $160</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">NOVEDADES DEL CHEFF </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ENSALADA CAPRESSE . . . . $530</li>                          
                <li class="text-center"><span class="fa-li"></span>LASAGNA RELLENA . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOW MEIN . . . . . . . . $330</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">LIGHT               </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>RISOTTO DE VEGETALES . .  $560</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">NOVEDADES EN PROMO  </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>HAMBURGUESA LUIS . . . .  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>CUATRO ESTACIONES IND. .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>CUATRO ESTACIONES CH. . . $740</li>                          
                <li class="text-center"><span class="fa-li"></span>CUATRO ESTACIONES GR. . . $950</li>                          
                <li class="text-center"><span class="fa-li"></span>RUCOLINA C/ CRUDO IND . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>RUCOLINA C/ CRUDO CH . .  $740</li>                          
                <li class="text-center"><span class="fa-li"></span>RUCOLINA C/ CRUD GR. . .  $950</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">EMPANADAS           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>EMPANADAS VARIAS . . . .   $95</li>                          
                <li class="text-center"><span class="fa-li"></span>FAINA . . . . . . . . . .  $60</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZAS              </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MOZZARELLA GR. . . . . .  $590</li>                          
                <li class="text-center"><span class="fa-li"></span>MARGARITA GR. . . . . . . $610</li>                          
                <li class="text-center"><span class="fa-li"></span>ANCHOAS GR. . . . . . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>ROMANA GR. . . . . . . .  $780</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA C/ JAMON GR. . .  $780</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA CON QUESO GR. . . $740</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPOLITANA GR. . . . . .  $740</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPOLITANA ESP GR. . . .  $780</li>                          
                <li class="text-center"><span class="fa-li"></span>DE JAMON .GR. . . . . . . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>MOZZARELLA CH. . . . . .  $490</li>                          
                <li class="text-center"><span class="fa-li"></span>MARGARITA CH. . . . . . . $510</li>                          
                <li class="text-center"><span class="fa-li"></span>ANCHOAS CH. . . . . . . . $490</li>                          
                <li class="text-center"><span class="fa-li"></span>ROMANA CH. . . . . . . .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA C/ JAMON CH. . .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA C/QUESO CH. . . . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPOLITANA CH. . . . . .  $580</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPOLITANA ESPECIAL CH. . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>DE JAMON .CH. . . . . . . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>MOZZARELLA IND. . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>MARGARITA IND. . . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>ANCHOAS IND. . . . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>ROMANA IND. . . . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA C/ JAMON IND. . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZA CON QUESO IND. .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPOLITANA IND. . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>NAPOLITANA ESPECIAL IND.  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>DE JAMON .IND. . . . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CON MORRONES GR. .  $870</li>                          
                <li class="text-center"><span class="fa-li"></span>ROQUEFORT GR. . . . . . . $950</li>                          
                <li class="text-center"><span class="fa-li"></span>PROVOLONE GR. . . . . . .$1050</li>                          
                <li class="text-center"><span class="fa-li"></span>PALMITOS GR. . . . . . . $1150</li>                          
                <li class="text-center"><span class="fa-li"></span>CALABRESA GR. . . . . . . $950</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPINACAS GR. . . . . . . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL DE 4 QUESOS GR. $1150</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMAICA GR. . . . . . . . $880</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CON MORRONES CH. .  $680</li>                          
                <li class="text-center"><span class="fa-li"></span>ROQUEFORT CH. . . . . . . $740</li>                          
                <li class="text-center"><span class="fa-li"></span>PROVOLONE CH. . . . . . . $780</li>                          
                <li class="text-center"><span class="fa-li"></span>PALMITOS CH. . . . . . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>CALABRESA CH. . . . . . . $730</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPINACAS CH. . . . . . . $490</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL DE 4 QUESOS CH.  $830</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMAICA CH. . . . . . . . $680</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CON MORRONES IND. . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>ROQUEFORT IND. . . . . .  $310</li>                          
                <li class="text-center"><span class="fa-li"></span>PROVOLONE IND. . . . . .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>PALMITOS IND. . . . . . . $335</li>                          
                <li class="text-center"><span class="fa-li"></span>CALABRESA IND. . . . . .  $305</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPINACAS IND. . . . . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL 4 QUESOS .IND .  $335</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMAICA IND. . . . . . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE TRADICIONAL GR. . $850</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE TRADICIONAL CH. . $640</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE LIGHT GR . . . .  $940</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE LIGHT CH . . . .  $690</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZETTA RELL GR . . .  $760</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGAZZETTA RELL CH . . .  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL RELL GR . . . .  $870</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPECIAL RELL CH . . . .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPER ESP. RELL CH . . .  $710</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPER ESP. RELL GR . . .  $910</li>                          
                <li class="text-center"><span class="fa-li"></span>PAN DE PIZZA CH. . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>PAN DE PIZZA GR. . . . .  $290</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PROMOS PIZZERIA     </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>18 EMP + GASEOSA . . . . $1660</li>                          
                <li class="text-center"><span class="fa-li"></span>24 EMP + GASEOSA . . . . $2080</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 3 PIZZA+GASEOSA . .$2180</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION DE MUZZA . . . .   $60</li>                          
                <li class="text-center"><span class="fa-li"></span>DOC DE EMP + GASEOSA . . $1200</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 1 DOC EMPANADA . . $1020</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2 DOC EMPANADA . . $1940</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 3 DOC EMPANADA . . $2080</li>                          
                <li class="text-center"><span class="fa-li"></span>PRO MUZZA 18 EMPANADA . .$1520</li>                          
                <li class="text-center"><span class="fa-li"></span>30 EMPANADAS . . . . . . $2080</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2 PIZZA + GASEOSA .$1510</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 1 PIZZA . . . . . .$1960</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 1 PIZZA+ GASEOSA . $2150</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 4 //1 DOC . . . . .$1020</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 4 / 1 DOC + GASEOSA$1200</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 4// 18 EMP . . . . $1520</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 4//24 EMP . . . . .$1940</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 4// 24 + GASEOSA . $2080</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 4// 30 EMP + GASEOS$2390</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2 PIZZA . . . . . .$1380</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 1 PIZZERIA + GASEOS$2150</li>                          
                <li class="text-center"><span class="fa-li"></span>30 EMP + GASEOSA . . . . $2080</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 3PIZZERIA . . . . .$1990</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 18 EMPANADAS . . . $1200</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pompe/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
