    <section class="pricing py-5">                                                                                              
      <div class="container bg-success">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">GASEOSAS / FRUTAS   </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SEVEN .2. 25 . . . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>PEPSI .DIET 2 .25 . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA O AGUA MINERAL .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>PEPSI 500 ML . . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PATAGONIA 740 ML . . . .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>SEVEN 500 . . . . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDWEISER DE LITRO . . .  $290</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUA .SABORIZADA . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUA C/GAS CH . . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUA C/GAS GR . . . . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>PATAGONIA 740 ML . . . .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>PEPSI .2.25 . . . . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOPP PAT PORTER . . . .  $175</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOPP Q CRISTAL . . . . . $135</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES STOUT . . . . . . $290</li>                          
                <li class="text-center"><span class="fa-li"></span>CORONA 355 ML . . . . . . $185</li>                          
                <li class="text-center"><span class="fa-li"></span>STELLA ARTOIS . . . . . . $310</li>                          
                <li class="text-center"><span class="fa-li"></span>JUGOS NATURALES . . . . . $150</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">LICORES/JEREZ/COGNAC</h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>COGNAC NACIONAL . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>LICOR/JEREZ NACIONAL . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>RAICES . . . . . . . . .  $295</li>                          
                <li class="text-center"><span class="fa-li"></span>PACHECO PEREDA VINO . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>GANCIA BOTELLA . . . . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>CINZANO BOTELLA . . . . . $280</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">WHISKIES            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>BLENDERS . . . . . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>PREMIUN . . . . . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>OLD SMUGGLER . . . . . .  $195</li>                          
                <li class="text-center"><span class="fa-li"></span>CRIADORES . . . . . . . . $195</li>                          
                <li class="text-center"><span class="fa-li"></span>J&B . . . . . . . . . . . $265</li>                          
                <li class="text-center"><span class="fa-li"></span>CHIVAS REGAL . . . . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>JHONNIE WALKER ET. NEGRA  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>WHITE HORSE . . . . . . . $265</li>                          
                <li class="text-center"><span class="fa-li"></span>BALLANTINES . . . . . . . $265</li>                          
                <li class="text-center"><span class="fa-li"></span>JHONNIE WALKER ET. ROJA . $370</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CHAMPAGNE/SIDRA     </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CHANDON . . . . . . . . .$1150</li>                          
                <li class="text-center"><span class="fa-li"></span>187 CHANDON . . . . . . . $310</li>                          
                <li class="text-center"><span class="fa-li"></span>BARON B . . . . . . . . .$1550</li>                          
                <li class="text-center"><span class="fa-li"></span>CHAMPAGNE DE LA CASA . .  $295</li>                          
                <li class="text-center"><span class="fa-li"></span>SIDRA . . . . . . . . . . $215</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">APERITIVOS          </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FERNET COLA . . . . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>APERITIVOS VARIOS . . . . $135</li>                          
                <li class="text-center"><span class="fa-li"></span>APERITIVO COMBINADO . . . $145</li>                          
                <li class="text-center"><span class="fa-li"></span>AMERICANO GANCIA . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CINZANO . . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CYNAR . . . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>MARTINI . . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAMPARI . . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>FERNET BOTELLA . . . . .  $780</li>                          
                <li class="text-center"><span class="fa-li"></span>GIN TONIC . . . . . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>GIN COLA . . . . . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>VODKA TONIC . . . . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>VODKA COLA . . . . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>CUBA LIBRE . . . . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>WHISCOLA . . . . . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>REC POR CORTE . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>BATIDOS . . . . . . . . . $210</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">COCKTAILS           </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ALMA MORA CHAMP . . . . . $490</li>                          
                <li class="text-center"><span class="fa-li"></span>CAMPARI BOTELLA . . . . . $640</li>                          
                <li class="text-center"><span class="fa-li"></span>RINONCITO SUG . . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>BONDIOLA SUG . . . . . .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 3 PIZZERIA . . . . $1380</li>                          
                <li class="text-center"><span class="fa-li"></span>TRAGOS VARIOS . . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>LAS MORAS BARRA . . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>ELEMENTOS BARRA . . . . . $220</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">LICUADOS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LIC. NATURAL AL AGUA . .  $165</li>                          
                <li class="text-center"><span class="fa-li"></span>LIC.COMB. . CON LECHE . . $195</li>                          
                <li class="text-center"><span class="fa-li"></span>LIC. ESPECIAL . . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2 .RISSOTTO+ VIN0 . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2 LENTEJAS + VINO . $670</li>                          
                <li class="text-center"><span class="fa-li"></span>MILK SHAKE . . . . . . .  $220</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CLERICOT            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CLERICOT DE VINO . . . .  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>CLERICOT DE SIDRA . . . . $355</li>                          
                <li class="text-center"><span class="fa-li"></span>CLERICOT DE CHAMPAGNE . . $550</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VINOS               </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LATITUD 33 DULCE . . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>ANIMAL CHARD 3/4 . . . .  $820</li>                          
                <li class="text-center"><span class="fa-li"></span>SANTA JULIA CHARD 3/4 . . $290</li>                          
                <li class="text-center"><span class="fa-li"></span>STA JULIA CHARD 1/2 . . . $310</li>                          
                <li class="text-center"><span class="fa-li"></span>SANT JUL DULCE 3/4 . . .  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>LATITUD 33 . . . . . . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>SELECCION LOPEZ 3/4 BL .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>STA JULIA MERLOT/ MALBEC  $470</li>                          
                <li class="text-center"><span class="fa-li"></span>BENJAMIN NIET MERLOT . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>ELEMENTOS .3/4 . . . . .  $290</li>                          
                <li class="text-center"><span class="fa-li"></span>STA JULIA 1/2 MALBEC . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>FINCAS L MORAS . . . . .  $215</li>                          
                <li class="text-center"><span class="fa-li"></span>NIETO SENETINER . . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>SELECCION LOPEZ 1/2 BL .  $165</li>                          
                <li class="text-center"><span class="fa-li"></span>ALMA MORA MALBEC . . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>ALMA MORA CABERNET . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>BENJAMIN NIETO . . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>NEW AGE 3/4 BL . . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>ANIMAL CABERNET 3/4 . . . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>VALMONT TINTO 3/4 . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>SELECCION LOPEZ 3/4 TIN . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>VALDERROBLES TIN. 3/4 . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>STA JULIA BARRA . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>VALMONT TINTO 1/2 . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMO MALBEC . . . . . .  $490</li>                          
                <li class="text-center"><span class="fa-li"></span>SELECCION LOPEZ 1/2 TIN . $165</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA .VINO . . . . . . .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>VALMONT BLANCO 3/4 . . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>PORTILLO 3/4 . . . . . .  $310</li>                          
                <li class="text-center"><span class="fa-li"></span>SANTA JULIA MALBEC . . .  $320</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pompe/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
