    <section class="pricing py-5">                                                                                              
      <div class="container bg-danger">                                                                                         
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA           </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CAFE . . . . . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON CREMA . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE . . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE CON CREMA . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON LECHE . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE C/3 MEDIALUN $210</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO . . . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO A LA ITALIANA . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>SUBMARINO . . . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE CHOCOLATADA . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE FRIA/CALIENTE . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICANO . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>TE DE HIERBAS . . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>TE DE HIERBAS C/LECHE . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>TE DIGESTIVO . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>YOGUR . . . . . . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE URUGUAYO . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>TE DE HIERBAS C/3 MEDIALU $220</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE ITALIANA . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE URU MUFFINS . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>PANERA . . . . . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADO SIMPLE . . . . .  $175</li>                          
                <li class="text-center"><span class="fa-li"></span>SUP. MERIENDA 1 TX . . .  $830</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">LOS DULCES          </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MINI FRUTILLA . . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI LEMON . . . . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>FACTURAS DOCENA . . . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIA DOCENA FACTURA P/LL $190</li>                          
                <li class="text-center"><span class="fa-li"></span>MASAS SECAS (KILO) . . . $1350</li>                          
                <li class="text-center"><span class="fa-li"></span>MASAS SECAS 1/2 KILO . .  $625</li>                          
                <li class="text-center"><span class="fa-li"></span>MASAS SECAS 1/4 KILO . .  $312</li>                          
                <li class="text-center"><span class="fa-li"></span>DOCENA CHURROS . . . . .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 DOC CHURROS . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS/FACTURAS . . .  $45</li>                          
                <li class="text-center"><span class="fa-li"></span>PAN X KG . . . . . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CREMONA/ TRENCITAS X KG . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>MASAS SECAS (2) . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADAS . . . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>ALFAJORES VARIOS . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI SACH/CHEESE / MOUSSE $265</li>                          
                <li class="text-center"><span class="fa-li"></span>DULCE/MANTECA/MERMELADA . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>PAN DULCE . . . . . . . . $850</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI PAN DULCE . . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>MUFFINS . . . . . . . . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN DULCE . . . . . . . $185</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN ESPECIAL DULCE . .  $185</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTAS VARIAS . . . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>ROSCA DE PASCUAS . . . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>CHEESE CAKE . . . . . . . $950</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTA POR KILO . . . . .  $680</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2 DOCENAS DE FACTUR $610</li>                          
                <li class="text-center"><span class="fa-li"></span>ROLL DE CANELA . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>BIZCOCHUELO . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTELETA /CUADRADITO . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOTORTA . . . . . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>TIRAMISU . . . . . . . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTELITOS DOCENA . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTELITOS . . . . . . .   $45</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI FROLA . . . . . . .  $175</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTA FROLA EF . . . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>ROLL DE CANELA . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI ROGEL . . . . . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI RICOTA . . . . . . . $185</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI BALCARSE/ AFRICANA . $200</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">TARDE ESPECIAL      </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FIVE O'CLOCK . . . . . .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE URU ALFAJ . . . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE ITA ALF . . . . . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE .DEL DIA . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>ICED COFFEE 1 TX . . . .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOLATE C/ CHURROS . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO CAF LECH 1/2 TOSTAD $190</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">LOS DULCES          </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>3 MUFFINS PROMO . . . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>2 BUDINES PROMO . . . . . $320</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">PARA DISFRUTAR      </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FACTURA BARRA . . . . . .  $35</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTA FROLA . . . . . . . $470</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTA DE RICOTA . . . . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTA DE COCO . . . . . . $610</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTA DE MANZANA . . . .  $580</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTA FRUTILLA . . . . .  $680</li>                          
                <li class="text-center"><span class="fa-li"></span>LEMON PIE . . . . . . . . $680</li>                          
                <li class="text-center"><span class="fa-li"></span>MOUSSE VARIOS . . . . . .$1050</li>                          
                <li class="text-center"><span class="fa-li"></span>SACHER . . . . . . . . . $1050</li>                          
                <li class="text-center"><span class="fa-li"></span>SCONES O POLVORONES . . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>PALMERITAS .KG . . . . .  $385</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI MANZANA . . . . . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>MERENGUES . . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>TART PORC.FROLA . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI SELVA NEGRA . . . .  $265</li>                          
                <li class="text-center"><span class="fa-li"></span>BROWNIE . . . . . . . . . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>SELVA NEGRA . . . . . . .$1050</li>                          
                <li class="text-center"><span class="fa-li"></span>BISCOCHITOS SALADOS 1/4KG  $95</li>                          
                <li class="text-center"><span class="fa-li"></span>CUER/ BIZCO SALADOS KG .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>BIZC/ CUERNITOS X 1/2 KG  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>BIZC/ CUERNITOS X 1/4 KG   $95</li>                          
                <li class="text-center"><span class="fa-li"></span>SABORIZADOS POR KILO . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO LICUADO . . . . . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO CAPUCHINO . . . . . $330</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">DESAYUNOS           </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>DESAYUNO CLASICO . . . .  $265</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOLATE C/ CHURROS . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE ITA MUFFINS . . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE URU CUAD/ TARTEL . . $240</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pompe/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
