    <section class="pricing py-5">                                                                                              
      <div class="container bg-danger">                                                                                         
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA           </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CAFE . . . . . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON CREMA . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE . . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE CON CREMA . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON LECHE . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE C/3 MEDIALUN $190</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO . . . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO A LA ITALIANA . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>SUBMARINO . . . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE CHOCOLATADA . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE FRIA/CALIENTE . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICANO . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>TE DE HIERBAS . . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>TE DE HIERBAS C/LECHE . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>TE DIGESTIVO . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>YOGUR . . . . . . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE URUGUAYO . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>TE DE HIERBAS C/3 MEDIALU $180</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE ITALIANA . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOLATE C/ CHURROS . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE URU MUFFINS . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>SUP. MERIENDA 1 TX . . .  $830</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">LOS DULCES          </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MINI FRUTILLA . . . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI LEMON . . . . . . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS/FACTURAS . . .  $40</li>                          
                <li class="text-center"><span class="fa-li"></span>MASAS SECAS (2) . . . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADAS . . . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>ALFAJORES VARIOS . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI SACH/CHEESE / MOUSSE $240</li>                          
                <li class="text-center"><span class="fa-li"></span>DULCE/MANTECA/MERMELADA . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>MUFFINS . . . . . . . . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>CHEESE CAKE . . . . . . . $950</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOTORTA MINI . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO 2 DOCENAS DE FACTUR $510</li>                          
                <li class="text-center"><span class="fa-li"></span>ROLL DE CANELA . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTELETA /CUADRADITO . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTELITOS DOCENA . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI FROLA . . . . . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTA FROLA . . . . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>ROLL DE CANELA . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI ROGEL . . . . . . .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI RICOTA . . . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI BALCARSE/ AFRICANA . $200</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/pompe/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
